// Variables
@import '../sass/components/colors';

// Partials
@import '../sass/components/header';
@import '../sass/components/footer';

//  Controller
@import '../sass/components/body';
@import '../sass/components/create';
@import '../sass/components/user';
@import '../sass/components/search';
@import '../sass/components/404';
@import '../sass/components/reset';

// Auth
@import '../sass/components/login';
@import '../sass/components/register';

// Pages
@import '../sass/components/container';
@import '../sass/components/home';
@import '../sass/components/audio';