@charset "UTF-8";
.header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.header_section_logo img {
  width: 280px;
  height: auto;
}

.header_section_formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section_formulaire input {
  color: #ababab;
  font-size: 12pt;
  font-weight: 100;
  border: unset;
  outline: unset;
  background-color: #F5F5F5;
  width: 600px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.header_section_formulaire input::-webkit-input-placeholder {
  color: #ababab;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire input:-ms-input-placeholder {
  color: #ababab;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire input::-ms-input-placeholder {
  color: #ababab;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire input::placeholder {
  color: #ababab;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire button {
  background-color: #F5F5F5;
  border: none;
  outline: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.header_section_formulaire button img {
  height: 19px;
  width: auto;
  padding: 7px;
}

.header_section_nav {
  position: relative;
}

.header_section_nav_icon .login_hover {
  color: #0044ff;
  text-decoration: none;
  font-size: 17px;
}

.header_section_nav_icon .register_hover {
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header_section_nav_icon .register_hover:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

.header_section_nav_icon .header_section_nav_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_section_nav_icon .header_section_nav_i i:nth-child(1) {
  font-size: 25px;
}

.header_section_nav_icon .header_section_nav_i i:nth-child(2) {
  font-size: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon .header_section_nav_i .react_hover {
  color: #0044ff;
  margin-left: 0.5rem;
}

.header_section_nav_icon:hover .header_section_nav_i i:nth-child(2) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon:hover .header_section_nav_icon_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slidemenu .2s linear alternate;
          animation: slidemenu .2s linear alternate;
}

.header_section_nav_icon_a {
  position: absolute;
  background-color: #F5F5F5;
  width: 110px;
  right: 58px;
  top: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 30px;
  padding: 14px 30px 14px 30px;
  border-radius: 5px;
  display: none;
}

.header_section_nav_icon_a .hover_menu {
  color: #0044ff;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon_a .hover_menu:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon_a::before {
  content: " ";
  background-color: #F5F5F5;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 3px;
  position: absolute;
  right: 30px;
  top: -15px;
}

@-webkit-keyframes slidemenu {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slidemenu {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@font-face {
  font-family: "Stretch";
  src: url(../../fonts/StretchPro.otf);
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h3, p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

audio {
  border: none;
  outline: none;
}

.btn-blue {
  font-size: 18pt;
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.btn-blue:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

.createMain__title {
  font-family: "Stretch";
  font-size: 20pt;
  color: #0044ff;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.createMain__form--input {
  font-size: 11pt;
  color: #606060;
  background-color: #F5F5F5;
  width: 600px;
  padding: 12px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 2rem;
}

.createMain__form--input::-webkit-input-placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--input:-ms-input-placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--input::-ms-input-placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--input::placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form .input_img {
  margin-bottom: 2rem;
}

.createMain__form .input_img label:hover {
  cursor: pointer;
}

.createMain__form--file {
  display: none;
}

.userMain {
  padding-top: 5rem;
}

.userMain > h2 {
  font-family: "Stretch";
  font-size: 20pt;
  color: #0044ff;
}

.userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.userProfile__img--edit {
  position: relative;
  margin-bottom: 50px;
}

.userProfile__img--edit .bg-avatar, .userProfile__img--edit .bg-avatar_other-user {
  width: 400px;
  border-radius: 10px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: -1px 9px 11px -1px rgba(161, 161, 161, 0.71);
  -webkit-box-shadow: -1px 9px 11px -1px rgba(161, 161, 161, 0.71);
  -moz-box-shadow: -1px 9px 11px -1px rgba(161, 161, 161, 0.71);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.userProfile__img--edit i {
  font-size: 5rem;
  color: #0044ffc2;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  visibility: hidden;
  -webkit-animation: animationhover-out .2s linear alternate;
          animation: animationhover-out .2s linear alternate;
}

.userProfile__img--edit:hover .bg-avatar {
  -webkit-filter: blur(2px) grayscale(100%);
          filter: blur(2px) grayscale(100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.userProfile__img--edit:hover i {
  visibility: visible;
  color: #0044ff;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-animation: animationhover-in .2s linear alternate;
          animation: animationhover-in .2s linear alternate;
}

.userProfile__img--edit:hover i:hover {
  cursor: pointer;
}

@-webkit-keyframes animationhover-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes animationhover-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes animationhover-out {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animationhover-out {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.userProfile__info {
  padding-left: 4rem;
}

.userProfile__info--descTitle {
  font-size: 18pt;
  color: #606060;
  margin-bottom: 1rem;
}

.userProfile__info--descText {
  font-size: 20pt;
  color: #606060;
  margin-bottom: 1rem;
}

.userProfile__info--fieldMain {
  margin-top: 2rem;
}

.userProfile__info--field {
  font-size: 20pt;
  color: #0044ff;
  margin-top: 0.5rem;
}

.playlist-user {
  margin-top: 100px;
}

.playlist-user .title_playlist {
  color: #0044ff;
  font-family: 'Stretch Pro';
  font-size: 20pt;
  margin: 20px 0px 50px 0px;
}

.playlist-user .list {
  width: 100%;
  height: 30vh;
  padding: 0;
  overflow-y: scroll;
}

.playlist-user .list_Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #F5F5F5;
  border-radius: 5px;
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 1rem 2rem;
}

.playlist-user .list_Content a, .playlist-user .list_Content p {
  color: #606060;
}

.playlist-user .list_Content_user {
  text-align: center;
}

.playlist-user .list_Content_time {
  text-align: end;
}

.searchMain__title {
  font-family: "Stretch";
  font-size: 20pt;
  color: #0044ff;
  margin-top: 5rem;
}

.searchMain__list {
  list-style: none;
}

.searchMain__list a {
  font-family: 'Montserrat', sans-serif;
  color: #606060;
  font-size: 16pt;
  line-height: 32px;
  margin-left: -1.3rem;
}

.searchMain__list a:hover::after {
  content: "→";
  padding-left: 1rem;
}

.errorMain {
  text-align: center;
  padding-top: 10rem;
}

.errorMain__first {
  font-family: "Stretch";
  font-size: 102pt;
  color: #0044ff;
}

.errorMain__second {
  font-family: 'Montserrat';
  font-size: 26pt;
  color: #606060;
  margin-bottom: 6rem;
}

.resetMain {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loadReset 1s ease-in-out;
          animation: loadReset 1s ease-in-out;
}

.resetMain__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resetMain__back > img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.resetMain__back > p {
  margin-left: 1rem;
  color: #ababab;
  font-size: 12pt;
}

.resetMain__back:hover img {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.resetMain__title {
  font-family: "Stretch";
  font-size: 32pt;
  color: #0044ff;
  margin-top: 5rem;
}

.resetMain__title > span {
  margin-left: -1.3rem;
}

.resetMain__input {
  padding: 12px 18px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 78%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #606060;
  font-size: 12pt;
}

#containerReset {
  margin-left: 4rem;
  margin-right: 4rem;
}

@-webkit-keyframes loadReset {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadReset {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.loginMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginLeft {
  background-color: #0200FF;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginLeft video {
  width: 100%;
}

.loginRight {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginRight__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4rem;
}

.loginRight__title-title {
  font-family: "Stretch";
  color: #0044ff;
  font-size: 42pt;
}

.loginRight__title-special {
  height: 10px;
  width: 65%;
  background-color: #0044ff;
  margin-bottom: 15px;
}

.loginRight__form-input {
  padding: 12px 18px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 96%;
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input::-webkit-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input:-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input::-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input::placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__remember {
  margin-bottom: 2rem;
}

.loginRight__remember input {
  height: 13px;
  width: 13px;
  outline: none;
}

.loginRight__remember-text {
  font-size: 12pt;
  color: #606060;
}

.loginRight__button {
  font-size: 18pt;
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.loginRight__button:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

#containerLogin {
  margin-left: 4rem;
  margin-right: 4rem;
}

#loginBack {
  margin-bottom: 4rem;
}

.loginRight {
  -webkit-animation: loadLogin 1s ease-in-out;
          animation: loadLogin 1s ease-in-out;
}

@-webkit-keyframes loadLogin {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadLogin {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.registerLeft {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registerLeft__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4rem;
}

.registerLeft__title-title {
  font-family: "Stretch";
  color: #0044ff;
  font-size: 42pt;
}

.registerLeft__title-special {
  height: 10px;
  width: 50%;
  background-color: #0044ff;
  margin-bottom: 15px;
}

.registerLeft__form-input {
  padding: 12px 18px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 96%;
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input::-webkit-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input:-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input::-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input::placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft .icon_add_img {
  width: 50px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.registerLeft__button {
  font-size: 18pt;
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.registerLeft__button:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

#containerRegister {
  margin-left: 4rem;
  margin-right: 4rem;
}

#registerBack {
  margin-bottom: 2rem;
}

.registerLeft {
  -webkit-animation: loadRegister 1s ease-in-out;
          animation: loadRegister 1s ease-in-out;
}

@-webkit-keyframes loadRegister {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadRegister {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#accountText {
  color: #606060;
  font-size: 11pt;
}

#accountLink {
  margin-left: 5px;
  color: #606060;
  font-size: 11pt;
}

#accountLink:hover {
  color: #0044ff;
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: unset;
}

::-webkit-scrollbar-thumb {
  background-color: #0044ff;
  border-radius: 30px;
}

.title_cards {
  color: #0044ff;
  font-family: 'Stretch Pro';
  font-size: 20pt;
  margin: 5rem 0rem 3rem 0rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsContent {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 400px;
  height: 150px;
  padding: 2rem;
}

.cardsContent_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.cardsContent_user img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.cardsContent_user a {
  color: #606060;
  font-size: 18pt;
  padding-left: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
}

.cardsContent_user a i {
  margin-left: 1.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cardsContent_user a:hover i {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.cardsContent_song {
  margin-top: 0.6rem;
  line-height: 28px;
}

.cardsContent_song div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsContent_song div .song {
  color: #0044ff;
  text-transform: capitalize;
}

.cardsContent_song div .btn_like {
  color: red;
}

.playlist_nolog {
  text-align: center;
  font-size: 25px;
  color: #606060;
  margin-top: 100px;
}

.playlist_nolog a {
  color: #0044ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.playlist_nolog a:hover {
  text-decoration: underline;
}

.playlist {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playlist .title_playlist {
  color: #0044ff;
  font-family: 'Stretch Pro';
  font-size: 20pt;
  margin-bottom: 50px;
}

.playlist .list {
  width: 100%;
  height: 30vh;
  padding: 0;
  overflow-y: scroll;
}

.playlist .list_Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #F5F5F5;
  border-radius: 5px;
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 1rem 2rem;
}

.playlist .list_Content a, .playlist .list_Content p {
  color: #606060;
}

.playlist .list_Content_user {
  text-align: center;
}

.playlist .list_Content_time {
  text-align: end;
}

.audio_div {
  text-align: center;
  background-color: #F1F3F4;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}

.audio_div audio {
  width: 100%;
}

#audio {
  display: none;
}

.playerMain {
  height: 100px;
  background-color: #F5F5F5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.playerMain__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 0px;
}

.playerMain__button button {
  background-color: transparent;
  border: none;
  outline: none;
}

.playerMain__button button:hover {
  cursor: pointer;
}

.playerMain__button button img {
  width: 42px;
  height: auto;
}

.playerMain__timer {
  margin-left: 3rem;
  width: 80rem;
  height: 10px;
  border-radius: 50px;
  background: #e0e0e0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.playerMain__timer::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0044ff;
  -webkit-box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff;
          box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.playerMain__timer::-moz-range-thumb {
  width: 50px;
  height: 50px;
}

.playerMain__volumeIcon {
  width: 42px;
  height: auto;
  margin-left: 8rem;
  margin-right: 2rem;
}

.playerMain__volume {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: #e0e0e0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.playerMain__volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0044ff;
  -webkit-box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff;
          box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.playerMain__volume::-moz-range-thumb {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */