.header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.header_section_logo img {
  width: 280px;
  height: auto;
}

.header_section_formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section_formulaire input {
  color: #606060;
  font-size: 12pt;
  font-weight: 100;
  border: unset;
  outline: unset;
  background-color: #F5F5F5;
  width: 600px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.header_section_formulaire input::-webkit-input-placeholder {
  color: #606060;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire input:-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire input::-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire input::placeholder {
  color: #606060;
  font-size: 12pt;
  font-weight: 100;
}

.header_section_formulaire button {
  background-color: #F5F5F5;
  border: none;
  outline: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.header_section_formulaire button img {
  height: 19px;
  width: auto;
  padding: 7px;
}

.header_section_nav {
  position: relative;
}

.header_section_nav_icon .login_hover {
  color: #0044ff;
  text-decoration: none;
  font-size: 17px;
}

.header_section_nav_icon .register_hover {
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header_section_nav_icon .register_hover:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

.header_section_nav_icon .header_section_nav_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_section_nav_icon .header_section_nav_i i:nth-child(1) {
  font-size: 25px;
}

.header_section_nav_icon .header_section_nav_i i:nth-child(2) {
  font-size: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon .header_section_nav_i .react_hover {
  color: #0044ff;
  margin-left: 0.5rem;
}

.header_section_nav_icon:hover .header_section_nav_i i:nth-child(2) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon:hover .header_section_nav_icon_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slidemenu .2s linear alternate;
          animation: slidemenu .2s linear alternate;
}

.header_section_nav_icon_a {
  position: absolute;
  background-color: #F5F5F5;
  width: 110px;
  right: 58px;
  top: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 30px;
  padding: 14px 30px 14px 30px;
  border-radius: 5px;
  display: none;
}

.header_section_nav_icon_a .hover_menu {
  color: #0044ff;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon_a .hover_menu:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header_section_nav_icon_a::before {
  content: " ";
  background-color: #F5F5F5;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 3px;
  position: absolute;
  right: 30px;
  top: -15px;
}

@-webkit-keyframes slidemenu {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slidemenu {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@font-face {
  font-family: "Stretch";
  src: url(../../fonts/StretchPro.otf);
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h3, p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

audio {
  border: none;
  outline: none;
}

.btn-blue {
  font-size: 18pt;
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.btn-blue:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

.createMain__title {
  font-family: "Stretch";
  font-size: 20pt;
  color: #0044ff;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.createMain__form--input {
  font-size: 11pt;
  color: #606060;
  background-color: #F5F5F5;
  width: 600px;
  padding: 12px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 2rem;
}

.createMain__form--input::-webkit-input-placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--input:-ms-input-placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--input::-ms-input-placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--input::placeholder {
  color: #606060;
  font-size: 11pt;
}

.createMain__form--file {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("../../images/icons/upload.png");
  background-repeat: no-repeat;
  height: 64px;
  width: auto;
  margin-bottom: 2rem;
}

.userMain {
  padding-top: 4rem;
}

.userMain > h2 {
  font-family: "Stretch";
  font-size: 20pt;
  color: #0044ff;
}

.userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.userProfile__img img {
  width: 350px;
  height: auto;
  border-radius: 5px;
  box-shadow: -1px 9px 11px -1px rgba(161, 161, 161, 0.71);
  -webkit-box-shadow: -1px 9px 11px -1px rgba(161, 161, 161, 0.71);
  -moz-box-shadow: -1px 9px 11px -1px rgba(161, 161, 161, 0.71);
}

.userProfile__info {
  padding-left: 4rem;
}

.userProfile__info--descTitle {
  font-size: 18pt;
  color: #606060;
  margin-bottom: 1rem;
}

.userProfile__info--descText {
  font-size: 20pt;
  color: #606060;
  margin-bottom: 1rem;
}

.userProfile__info--fieldMain {
  margin-top: 2rem;
}

.userProfile__info--field {
  font-size: 20pt;
  color: #0044ff;
  margin-top: 0.5rem;
}

.loginMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loginLeft {
  background-color: #0200FF;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginLeft video {
  width: 100%;
}

.loginRight {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginRight__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4rem;
}

.loginRight__title-title {
  font-family: "Stretch";
  color: #0044ff;
  font-size: 42pt;
}

.loginRight__title-special {
  height: 10px;
  width: 65%;
  background-color: #0044ff;
  margin-bottom: 15px;
}

.loginRight__form-input {
  padding: 12px 18px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 96%;
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input::-webkit-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input:-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input::-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__form-input::placeholder {
  color: #606060;
  font-size: 12pt;
}

.loginRight__remember {
  margin-bottom: 2rem;
}

.loginRight__remember input {
  height: 13px;
  width: 13px;
  outline: none;
}

.loginRight__remember-text {
  font-size: 12pt;
  color: #606060;
}

.loginRight__button {
  font-size: 18pt;
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.loginRight__button:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

#containerLogin {
  margin-left: 4rem;
  margin-right: 4rem;
}

.loginRight {
  -webkit-animation: loadLogin 1s ease-in-out;
          animation: loadLogin 1s ease-in-out;
}

@-webkit-keyframes loadLogin {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadLogin {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.registerLeft {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registerLeft__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 4rem;
}

.registerLeft__title-title {
  font-family: "Stretch";
  color: #0044ff;
  font-size: 42pt;
}

.registerLeft__title-special {
  height: 10px;
  width: 50%;
  background-color: #0044ff;
  margin-bottom: 15px;
}

.registerLeft__form-input {
  padding: 12px 18px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  width: 96%;
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input::-webkit-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input:-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input::-ms-input-placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__form-input::placeholder {
  color: #606060;
  font-size: 12pt;
}

.registerLeft__button {
  font-size: 18pt;
  color: #0044ff;
  background-color: #ffffff;
  border: solid 2px #0044ff;
  border-radius: 5px;
  padding: 6px 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.registerLeft__button:hover {
  color: #ffffff;
  border: solid 2px #0044ff;
  background-color: #0044ff;
}

#containerRegister {
  margin-left: 4rem;
  margin-right: 4rem;
}

.registerLeft {
  -webkit-animation: loadRegister 1s ease-in-out;
          animation: loadRegister 1s ease-in-out;
}

@-webkit-keyframes loadRegister {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadRegister {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#accountText {
  color: #606060;
  font-size: 11pt;
}

#accountLink {
  margin-left: 5px;
  color: #606060;
  font-size: 11pt;
}

#accountLink:hover {
  color: #0044ff;
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: unset;
}

::-webkit-scrollbar-thumb {
  background-color: #0044ff;
  border-radius: 30px;
}

.title_cards {
  color: #0044ff;
  font-family: 'Stretch Pro';
  font-size: 20pt;
  margin: 60px 0 45px 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsContent {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 380px;
  padding: 1rem;
}

.cardsContent_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.cardsContent_user img {
  width: 15%;
}

.cardsContent_user a {
  color: #606060;
  font-size: 20px;
  padding-left: 5rem;
  text-transform: capitalize;
}

.cardsContent_user a i {
  margin-left: 1rem;
  -webkit-animation: arrowmove .7s linear infinite alternate;
          animation: arrowmove .7s linear infinite alternate;
}

.cardsContent_song {
  line-height: 25px;
}

.cardsContent_song div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsContent_song div .song {
  color: #0044ff;
  text-transform: capitalize;
}

.cardsContent_song div .btn_like {
  color: red;
}

@-webkit-keyframes arrowmove {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes arrowmove {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.playlist_nolog {
  text-align: center;
  font-size: 25px;
  color: #606060;
  margin-top: 100px;
}

.playlist_nolog a {
  color: #0044ff;
  text-decoration: underline;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.playlist_nolog a:hover {
  opacity: 50%;
}

.playlist {
  margin-top: 100px;
}

.playlist .title_playlist {
  color: #0044ff;
  font-family: 'Stretch Pro';
  font-size: 20pt;
  margin-bottom: 50px;
}

.playlist .list {
  width: 100%;
  height: 30vh;
  padding: 0;
  overflow-y: scroll;
}

.playlist .list_Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #F5F5F5;
  border-radius: 5px;
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 1rem 2rem;
}

.playlist .list_Content a, .playlist .list_Content p {
  color: #606060;
}

.playlist .list_Content_user {
  text-align: center;
}

.playlist .list_Content_time {
  text-align: end;
}

.audio_div {
  text-align: center;
  background-color: #F1F3F4;
}

.audio_div audio {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */