.audio_div{
    text-align: center;
    background-color: #F1F3F4;
    position: sticky;
    bottom: 20px;

    audio{
        width: 100%;
    }
}

#audio {
    display: none;
}


.playerMain {
    height: 100px;
    background-color: $light-grey;

    position: fixed;
    bottom: 0;
    width: 100%;

    &__div {
        display: flex;
        align-items: center;
        padding: 1.6rem 0px;
    }

    &__button button {
        background-color: transparent;
        border: none;
        outline: none;

        &:hover {
            cursor: pointer;
        }

        & img {
            width: 42px;
            height: auto;
        }
    }

    &__timer {
        margin-left: 3rem;
        width: 100rem;
        height: 10px;
        border-radius: 50px;
        background: #e0e0e0;

        outline: none;
        border: none;
        -webkit-appearance: none;
        appearance: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: $basic-blue;
            box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff;
            width: 15px; 
            height: 15px; 
            border-radius: 50%;
        }

        &::-moz-range-thumb {
            width: 50px;
            height: 50px;
        }

        @include lg() {
            width: 50rem;
        }

        @include md() {
            width: 43rem;
        }
    }


    &__volumeIcon {
        width: 42px;
        height: auto;

        margin-left: 8rem;
        margin-right: 2rem;
    }


    &__volume {
        width: 100%;
        height: 10px;
        border-radius: 50px;
        background-color: #e0e0e0;

        outline: none;
        border: none;
        -webkit-appearance: none;
        appearance: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: $basic-blue;
            box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff;
            width: 15px; 
            height: 15px; 
            border-radius: 50%;
        }

        &::-moz-range-thumb {
            width: 50px;
            height: 50px;
        }
    }
}