@font-face {
    font-family: "Stretch";
    src: url(../../fonts/StretchPro.otf);
}

body {
    background-color: $basic-white;
    font-family: 'Montserrat', sans-serif;
    
    padding: 0px; 
    margin: 0px;
}

h1, h2, h3, h3, p {
    padding: 0px; 
    margin: 0px;
}

a {
    text-decoration: none;
}

audio {
    border: none;
    outline: none;
}