@font-face {
    font-family: "Stretch";
    src: url(../../fonts/StretchPro.otf);
}

body {
    background-color: $basic-white;
    font-family: 'Montserrat', sans-serif;
    
    padding: 0px; 
    margin: 0px;
}

h1, h2, h3, h3, p {
    padding: 0px; 
    margin: 0px;
}

a {
    text-decoration: none;
}

audio {
    border: none;
    outline: none;
}


.btn-blue {
    font-size: 18pt;
    color: $basic-blue;
    background-color: $basic-white;
    border: solid 2px $basic-blue;
    border-radius: 5px;
    padding: 6px 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 1rem;
    margin-bottom: 4rem;
    
    &:hover {
        color: $basic-white;
        border: solid 2px $basic-blue;
        background-color: $basic-blue;
    }
}