.createMain {

    &__title {
        font-family: "Stretch";
        font-size: 20pt;
        color: $basic-blue;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    &__form {

        &--input {
            font-size: 11pt;
            color: $basic-grey;

            background-color: $light-grey;
            width: 600px;

            padding: 12px 10px;
            border-radius: 10px;
            border: none;
            outline: none;

            margin-bottom: 2rem;

            &::placeholder {
                color: $basic-grey;
                font-size: 11pt;
            }
        }

        .input_img{

            margin-bottom: 2rem;

            label:hover{
                cursor: pointer;
            }
        }

       /* &--file {
            display: none;
        }*/
    }
}