.createMain {

    &__title {
        font-family: "Stretch";
        font-size: 20pt;
        color: $basic-blue;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    &__form {

        &--input {
            font-size: 11pt;
            color: $basic-grey;

            background-color: $light-grey;
            width: 600px;

            padding: 12px 10px;
            border-radius: 10px;
            border: none;
            outline: none;

            margin-bottom: 2rem;

            &::placeholder {
                color: $basic-grey;
                font-size: 11pt;
            }

            @include lg() {
                width: 100%;
            }
        }

        .input_img{

            margin-bottom: 2rem;

            label:hover{
                cursor: pointer;
            }
        }

        &--file {
            display: none;
        }
    }

    .flex_div{
        display: flex;
        justify-content: space-between;

        @include lg() {
            flex-direction: column;
        }
    }

    .listcreate{
        margin-top: 4rem;
    
        .title_create{        
            color: $basic-blue;
            font-family: 'Stretch Pro';
            font-size: 20pt;
            margin-bottom: 2rem;
        }
    
        .list{
            width: 800px;
            padding: 0;
            overflow-y: scroll;
            padding-left: 8px;
            border-radius: 20px;
            //box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16); 
    
            &_Content{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                background-color: $light-grey;
                border-radius: 5px;
                list-style: none;
                margin: 0px 0 10px 0;
                padding: 1rem 2rem;
    
                a, p{
                    color: $basic-grey;   
                }
    
                &_user{
                    text-align: end;                
                    color: $basic-grey;    
                }
            }

            @include lg() {
                width: 100%;
            }
        }
    
    }
}