.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

        &_logo{
            color: $basic-blue;
            text-transform: uppercase;
            font-family: 'stretch pro';
            font-size: 30pt;
        }

        &_formulaire {
        display: flex;
        align-items: center;


            input{
                color: $medium-grey;
                font-size: 12pt;
                font-weight: 100;

                border: unset;
                outline: unset;

                background-color: $light-grey;
                width: 600px;
                padding: 10px;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;

                &::placeholder {
                    color: $medium-grey;
                    font-size: 12pt;
                    font-weight: 100;
                }
            }            

            button {
                background-color: $light-grey;
                border: none;
                outline: none;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;

                img {
                    height: 19px;
                    width: auto;
                    padding: 7px;
                }
            }
        }

        &_nav{
            position: relative;
        
            &_icon{
                
                .login_hover{
                    color: $basic-blue;
                    text-decoration: none;
                    font-size: 17px;                   
                }
                
                .register_hover{
                    color: $basic-blue;
                    background-color: $basic-white;
                    border: solid 2px $basic-blue;
                    text-decoration: none;
                    font-size: 17px;
                    margin-left: 1rem; 
                    border-radius: 5px;
                    padding: 6px 14px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $basic-white;
                        border: solid 2px $basic-blue;
                        background-color: $basic-blue;
                    }
                }

                .header_section_nav_i{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

            
                    i:nth-child(1){
                        font-size: 25px;
                    }

                    i:nth-child(2){
                        font-size: 15px;
                        transform: rotate(-90deg);
                        transition: .2s linear;
                    }

                    .react_hover{
                        color: $basic-blue;
                        margin-left: 0.5rem;                    
                    }
                }

                &:hover .header_section_nav_i i:nth-child(2){
                    transform: rotate(0deg);
                    transition: .2s linear;
                }

                &:hover &_a{
                    display: flex;
                    animation: slidemenu .2s linear alternate;
                }

                
                &_a{
                    position: absolute;
                    background-color: $light-grey;
                    width: 110px;
                    right:58px;
                    top: 80px;
                    flex-wrap: wrap;
                    line-height: 30px;
                    padding: 14px 30px 14px 30px;
                    border-radius: 5px;
                    display: none;

                    .hover_menu{
                        color: $basic-blue;
                        text-decoration: none;
                        font-size: 17px;
                        transition: .2s linear;

                        &:hover{
                            transform: translateX(10px);
                            transition: .2s linear;
                        }
                    }

                    &::before{
                        content: " ";
                        background-color: $light-grey;
                        width: 30px;
                        height: 30px;
                        transform: rotate(45deg);
                        border-radius: 3px;                    
                        position: absolute;
                        right: 30px;
                        top: -15px;
                    }
                    
                }
                
            }
             
        }
}

@keyframes slidemenu{

    0%{
        transform: translateX(250px);
    }
    100%{
        transform: translateX(0px);
    }
}