::-webkit-scrollbar{
    width: 8px;
    background-color: unset;
}

::-webkit-scrollbar-thumb{
    background-color: $basic-blue;
    border-radius: 30px;
}

.title_cards{
    color: $basic-blue;
    font-family: 'Stretch Pro';
    font-size: 20pt;
    margin: 60px 0 45px 0;
}

.cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
        
.cardsContent{
    background-color: $light-grey;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    width: 380px;
    padding: 1rem;

    &_user{
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

            img{
                width: 15%;
            }
            
            a{
                color: $basic-grey;
                font-size: 20px;
                padding-left: 5rem;
                text-transform: capitalize;

                i{
                    margin-left: 1rem;
                    animation: arrowmove .7s linear infinite alternate;
                }
            }
    }

    &_song{
        line-height:25px;

        div{
            display: flex;
            justify-content: space-between;

            .song{
                color: $basic-blue;
                text-transform: capitalize;
            }

            .btn_like{
                color: red;
            }
        }
    }

}

@keyframes arrowmove{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(5px);
    }
}

.playlist_nolog{
    text-align: center;
    font-size: 25px;
    color: $basic-grey;
    margin-top: 100px;

    a{
        color: $basic-blue;
        text-decoration: underline;
        transition: .2s linear;

        &:hover{
            opacity: 50%;
        }
    }
}

.playlist{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title_playlist{        
        color: $basic-blue;
        font-family: 'Stretch Pro';
        font-size: 20pt;
        margin-bottom: 50px;
    }

    .list{
        width: 100%;
        height: 30vh;
        padding: 0;
        overflow-y: scroll;

        &_Content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: $light-grey;
            border-radius: 5px;
            list-style: none;
            margin: 10px 0 10px 0;
            padding: 1rem 2rem;

            a, p{
                color: $basic-grey;   
            }

            &_user{
                text-align: center;  
            }

            &_time{
                text-align: end;  
            }

        }
    }

}
