.userMain {
    padding-top: 5rem;

    > h2 {
        font-family: "Stretch";
        font-size: 20pt;
        color: $basic-blue;
    }
}

.userProfile {
    display: flex;
    padding-top: 2rem;

    &__img {

        &--edit{
            position: relative;
            margin-bottom: 50px;
            

            .bg-avatar, .bg-avatar_other-user{
                width: 400px;
                border-radius: 10px;
                height: 450px;
                object-fit: cover;
    
                box-shadow: -1px 9px 11px -1px rgba(161,161,161,0.71);
                -webkit-box-shadow: -1px 9px 11px -1px rgba(161,161,161,0.71);
                -moz-box-shadow: -1px 9px 11px -1px rgba(161,161,161,0.71);
                transition: .2s linear;
            }
    
            i{
                font-size: 5rem;
                color: $basic-blue-opacity;
                position: absolute;
                top: 40%;
                left: 40%;
                z-index: 2;
                transition: .2s linear;
                visibility: hidden;
                animation: animationhover-out .2s linear alternate;
            }    
    
            &:hover{

                .bg-avatar{
                    filter: blur(2px) grayscale(100%);
                    transition: .2s linear;
                }
        
                i{
                    visibility: visible;
                    color: $basic-blue;
                    transition: .2s linear;
                    animation: animationhover-in .2s linear alternate;

                    &:hover{
                        cursor: pointer;
                    }
                }    
            }
        }
        
    }

    @keyframes animationhover-in {

        0%{
            
            transform: scale(0.0);
        }

        100%{
            
            transform: scale(1.1);
        }

    }

    @keyframes animationhover-out{

        0%{
            transform: scale(1.1);
        }

        100%{
            
            transform: scale(0.0);
        }

    }

    

    &__info {
        padding-left: 4rem;

        &--descTitle {
            font-size: 18pt;
            color: $basic-grey;

            margin-bottom: 1rem;
        }

        &--descText {
            font-size: 20pt;
            color: $basic-grey;

            margin-bottom: 1rem;
        }

        &--fieldMain {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        &--field {
            font-size: 20pt;
            color: $basic-blue;
            margin-top: 0.5rem;
        }

        .btn_add{

            font-size: 18pt;
            color: $basic-blue;
            background-color: $basic-white;
            border: solid 2px $basic-blue;
            border-radius: 5px;
            padding: 6px 14px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            margin-right: 1rem;
            margin-bottom: 4rem;
        
            &:hover {
                color: $basic-white;
                border: solid 2px $basic-blue;
                background-color: $basic-blue;
            }

        }
    }
}


.playlist-user{
    margin-bottom: 120px;
   

    .title_playlist{        
        color: $basic-blue;
        font-family: 'Stretch Pro';
        font-size: 20pt;
        margin: 20px 0px 50px 0px;
    }

    .list{
        width: 100%;
        //height: 30vh;
        padding: 0;
        overflow-y: scroll;
        //padding-left: 8px;
        border-radius: 20px;
        //box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);    

        &_Content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: #F5F5F5;
            border-radius: 5px;
            list-style: none;
            margin: 10px 0 10px 0;
            padding: 1rem 2rem;

            a, p{
                color: $basic-grey;   
            }

            &_user{
                text-align: end;  
            }

        }
    }

}