.userMain {
    padding-top: 4rem;

    > h2 {
        font-family: "Stretch";
        font-size: 20pt;
        color: $basic-blue;
    }
}

.userProfile {
    display: flex;
    padding-top: 2rem;

    &__img img {
        width: 350px;
        height: auto;
        border-radius: 5px;

        box-shadow: -1px 9px 11px -1px rgba(161,161,161,0.71);
        -webkit-box-shadow: -1px 9px 11px -1px rgba(161,161,161,0.71);
        -moz-box-shadow: -1px 9px 11px -1px rgba(161,161,161,0.71);
    }

    &__info {
        padding-left: 4rem;

        &--descTitle {
            font-size: 18pt;
            color: $basic-grey;

            margin-bottom: 1rem;
        }

        &--descText {
            font-size: 20pt;
            color: $basic-grey;

            margin-bottom: 1rem;
        }

        &--fieldMain {
            margin-top: 2rem;
        }

        &--field {
            font-size: 20pt;
            color: $basic-blue;
            margin-top: 0.5rem;
        }
    }
}


.playlist-user{
    margin-top: 100px;
   

    .title_playlist{        
        color: $basic-blue;
        font-family: 'Stretch Pro';
        font-size: 20pt;
        margin: 50px 0px;
    }

    .list{
        width: 100%;
        height: 30vh;
        padding: 0;
        overflow-y: scroll;

        &_Content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: $light-grey;
            border-radius: 5px;
            list-style: none;
            margin: 10px 0 10px 0;
            padding: 1rem 2rem;

            a, p{
                color: $basic-grey;   
            }

            &_user{
                text-align: center;  
            }

            &_time{
                text-align: end;  
            }

        }
    }

}